* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#top {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}
#header1 {
  background-color: lightblue;
  padding: 20px;
}

.Post {
  margin: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 1px 2px 4px black;
  background-color: lightgrey;
  grid-column: 2;
}

h3 {
  margin: 8px;
}

#resources {
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 1px 2px 4px black;
  background-color: beige;
  grid-row: 1;
  grid-column: 3;
}
h4 {
  margin: 8px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
